* {
    box-sizing:border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-family: 'Share Tech Mono', monospace; */
  font-family: 'VT323', monospace;
  overflow: hidden;
  font-size:20px;
}

#flexContainer{
    justify-content:space-between;
    display:flex;
    height:100%;
    width:100%;
    position:absolute;
    flex-direction:column;
    overflow:auto;
}

#footerSection {
    max-height:100px;
    margin-bottom:0;
    flex: 1;
    background-color:gray;
}

#aboutContainer {
    justify-content: center;
    flex: 2;
}

#portfolioContainer {
    flex:4;
    justify-content: center;
    align-items: center;
}

#projectContainer {
    display:flex;
    flex-direction:column;
    max-width:1000px;
    background-color:gray;
    padding:1rem;
    align-items:center;
    border-radius:20px;
}

#footerContainer{
    display:flex;
    align-items:center;
    justify-content: space-around;
    max-height:100px;
    padding:1rem;
    margin-bottom:0;
    flex: 1;
    background-color:gray;
    border-top: solid;
}

.flexSection{
    margin-bottom:1rem;
    display:flex;
}

.aboutSection{
    display:flex;
    margin:2.5rem .75rem 0rem .75rem;
    padding: 1rem;
    flex: 1;
    max-width:500px;
    max-height:350px;
    overflow:auto;
    background-color:gray;
    border-radius:20px;
}

.projContainerControl {
    margin:.5rem;
    font-size:2rem;
}

.projImg {
    max-width:100%;
  }


.footerSection{
    flex:1;
    max-width:200px;
    font-size:40px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.aboutItem {
    margin:auto;
}

.projectItem {
    margin-top:.5rem;
    margin-bottom:.5rem;
}

i {
    color:black;
    cursor: pointer;
}

@media screen and (max-width: 700px) {

   #aboutContainer {
       flex-direction:column;
   }

   html {
       font-size:16px;
   }

   .projContainerControl {
       font-size: 1.25rem;
   }

  }
  
@media screen and (orientation: landscape) and (max-width: 700px){

    #aboutContainer {
        flex-direction:row;
    }

  }